@import 'variables';
@import 'mixins';
@import 'reset';
@import 'typography';


/*******************************

  General Styles

*******************************/

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  /* background-image: url(../img/painting-bkgd.png), url(../img/fabric_plaid.png);
  background-position: center center, left top;
  background-repeat: no-repeat, repeat; */
}

body {
  font: 400 16px 'raleway', arial, sans-serif;
  color: $font-color;
  background: url(../img/bkgd-gray.jpg) no-repeat center -100px;
  @include css3(transition, 500ms);
  
  &.in-transition {
    @include css3(transition, transform 900ms ease);
  }
}

*,
*:after,
*:before {
  box-sizing: border-box;
  @include css3(transition, 500ms);
}

.wrapper {
  width: 97.23%;
  max-width: $wrapper-width;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.alt-title {
  background: $site-trans-gray;
  font: 20px 'raleway', arial, sans-serif;
  color: #fff;
  padding: 10px;
  margin: 0 0 20px;
}

a,button {
  outline-color: transparent;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 100;

  &:hover {
    text-decoration: underline;
  }
}



button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 20px;

  &:first-child {
    margin:0;
  }
}

img {
  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px 0;
}

.btn-dark {
  background: $site-gray;
  color: #fff;
}

.legal{
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  max-width: 200px;
}

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0;
}

.dont-break-out {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid $site-gray;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $site-gray;
}

.map {
    max-width: 500px;
    width: 100%;
    border: 6px solid $site-trans-gray;

    img {
      display: block;
    }
}

.responsive-embed {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 720px;
    width: 100%;
}

.responsive-embed iframe,.responsive-embed object,.responsive-embed embed {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%
}

/*******************************

  Basic 4 Column Grid

*******************************/

.block {
  float: left;
  padding: 0 0 0 20px;
  position: relative;
}
.block-1-wide {
  width: 25%;
  max-width: 240px;
}
.block-2-wide {
  width: 50%;
  max-width: 480px;
}
.block-3-wide {
  width: 75%;
  max-width: 720px;
}
.block-4-wide {
  width: 100%;
  max-width: $wrapper-width;
}

dt {
  font: 20px 'copperplate_light', 'times new roman', serif;
  border: 1px solid $site-gray;
  border-style: none none solid;
  margin: 0 0 5px;
  cursor: pointer;

  .arrow {
    float: right;
    margin: 8px;
  }
}

dd {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  @include css3(transition, 800ms);

  ul {
    margin: 10px 0;

    li {
      margin: 0 0 10px;
    }
  }
}

dt.active + dd {
  max-height: 1000px;
  opacity: 1;
}



/*******************************

  Header Styles

*******************************/
.site-header {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 80px;
  background: $site-gray;
  @include css3(transition, 600ms);

  > * {
    @include css3(transition, 600ms);
  }

  .wrapper {
    height: 100%;
  }
}

.logo-wrapper {
  max-width: 100px;
  position: absolute;
  top: 50%;
  @include css3(transform, translateY(-50%));

  a {
    display: inline-block;
  }
}

.login {
  background: $site-green;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding: 10px;

  &:hover {
    text-decoration: underline;
  }
}

.menu-btn {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 40%;
  top: 50%;
  z-index: 100;
  @include css3(transform, translate(-50%,-50%));
}

.menu-nav-btn__bar {
  width: 100%;
  height: 1px;
  background: #fff;
  // background: #767676;
  // background: -moz-linear-gradient(left,  rgba(118,118,118,0) 0%, rgba(118,118,118,0.83) 100%);
  // background: -webkit-linear-gradient(left,  rgba(118,118,118,0) 0%,rgba(118,118,118,0.83) 100%);
  // background: linear-gradient(to right,  rgba(118,118,118,0) 0%,rgba(118,118,118,0.83) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00767676', endColorstr='#d4767676',GradientType=1 );
  margin-top: 5px;
  display: inherit;
  @include css3(transition, 400ms);
  position: absolute;
  pointer-events: none;
  opacity: 1;
}

.menu-nav-btn__bar:first-child {
  margin-top: 0;
}

.menu-nav-btn__bar:last-child {
  margin-top: 10px;
}

.menu-btn.active {
  height: 40px;
  opacity: 1;
}

.menu-btn.active .menu-nav-btn__bar {
  @include css3(transform, translateY(3px) rotate(-45deg));
  @include css3(transform-origin, center center);
  margin-top: 0px;
  background: #fff;
  // background: -moz-linear-gradient(left,  rgba(118,118,118,0) 0%, rgba(118,118,118,0.83) 50%, rgba(118,118,118,0) 100%);
  // background: -webkit-linear-gradient(left,  rgba(118,118,118,0) 0%,rgba(118,118,118,0.83) 50%,rgba(118,118,118,0) 100%);
  // background: linear-gradient(to right,  rgba(118,118,118,0) 0%,rgba(118,118,118,0.83) 50%,rgba(118,118,118,0) 100%);
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00767676', endColorstr='#00767676',GradientType=1 );
}

.menu-btn.active .menu-nav-btn__bar:first-child {
  @include css3(transform, translateY(3px) rotate(45deg));
}

/*******************************

  Nav Styles

*******************************/

.site-nav {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0;
}

.site-nav ul {
  float: right;
}

.site-nav li {
  float: left;
  margin: 0 0 0 20px;
  position: relative;
  padding: 5px 0;

  a {
    font: 100 16px 'copperplate', 'times new roman', serif;
  }

  &:hover a ,
  &.active a {
      color: $site-green;
      text-decoration: none;
  }

}

.site-nav li:first-child {
  margin: 0;
}

.site-nav li a {
  font-size: 22px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.6px;
}


/*******************************

  Mobile Nav Styles

*******************************/

.site-header.mobile {

  .site-nav {
    position: fixed;
    bottom: initial;
    top: 0;
    z-index: 10;
    background: #333;
    height: 100%;
    padding: 20px 40px 0 50px;
    @include css3(transform, translateX(100%));

    ul {
      margin: 90px;

      li {
        float: none;

        &:first-child {
          margin: none;
        }
      }
    }
  }

  &.active{

    .site-nav {
      box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.67);
      @include css3(transform, translateX(0%));
    }

  }
}


/*******************************

  Site Content Styles

*******************************/
.site-content {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
  position: relative;
  top: 80px;
  margin: 30px 0;
  padding: 0 0 160px;
}



/*******************************

  Page Content Styles

*******************************/
.page-content {
  width: 57.4468%;
  float: left;
}

dt.active + dd.news-list .news-content {
  height: 100%;
  max-height: 260px;
}

dt.active {
  .arrow {
    @include css3(transform, rotate(180deg));
  }
}

/*******************************

  Sidebar Styles

*******************************/
.sidebar {
  width: 31.9149%;
  float: right;
}

.sidebar-mod {
  position: relative;
  font-size: 18px;
  margin: 0 0 30px;

  &:last-child {
    border: solid 6px $site-trans-gray;
    border-style: solid none;
    background: rgba(255,255,255,0.8);
    padding: 20px 10px;
    text-align: center;

    p {
      text-align: left;
      font-size: 20px;
    }

    a {
      display: inline-block;
      border-radius: 50%;
      border: 4px solid;
      height: 40px;
      width: 40px;

      &:hover {
        background: rgba(51, 51, 51, 0.60);
      }

      svg {
        width: 80%;
        position: relative;
        top: 5px;
        left: 0;
      }
    }
  }

  .btn.btn-dark {
    padding: 20px 0;
    width: 100%;
    background: $site-trans-gray;

    &:hover {
      text-decoration: underline;
    }
  }

  .small-copy {
    font-size: 12px;
    display: block;
    line-height: 14px;
  }
}


.news-ticker {
  height: 46px;
  background: $site-green;
  color: $site-gray;
  ul {
    height: 100%;
    text-align: center;
    line-height: 46px;
    font-size: 16px;
  }
}

/*******************************

  Assesment Styles

*******************************/

.quiz-quest {
  font-size: 24px;
}

.quiz-opts {
  text-align: right;
  margin: 30px 0 0;
  li {
    display: inline-block;
  }
  button {
    width: 80px;
    color: #fff;
    padding: 10px 0;
    background: #ccc;
    margin: 0 0 0 20px;
    font:100 18px 'raleway', arial, sans-serif;

    &:hover {
      text-decoration: underline;
    }

    &.single-opt,
    &.multi-opt {
      background: $site-trans-gray;
    }

    &.yes-opt {
      background: $site-green;
    }

    &.no-opt {
      background: $site-red;
    }
  }
}


/*******************************

  Footer Styles

*******************************/

.site-footer {
  background: $site-gray;
  height: 126px;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  z-index: 2;

  .wrapper {
    height: 100%;
  }

  .block {
    position: absolute;
    top: calc(50% - 23px);;
    left: 0;
    @include css3(transform, translateY(-50%));

    a:hover {
      color: $site-green;
    }
  }

  .block:first-child {
    padding-left: 0;
  }

  .block:last-child {
    text-align: right;
    left: initial;
    right: 0;
  }
}

.footer-logo-wrapper {
  max-width: 60px;
  position: absolute;
  top: calc(50% - 23px);
  left: 50%;
  @include css3(transform, translate(-50%,-50%));
}


/*******************************

  Override & Responsive Styles

*******************************/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #333;
  z-index: 800;
  color: #fff;
  text-align: center;
  @include css3(transition, 500ms);
  top: 0;
  left: 0;
}

.collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
  overflow: hidden;
}



.homepage {

  .site-header {
      left: 100%;
      opacity: 0;

      .wrapper {
        height: 100%;
      }
  }

  .enter {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    color: #fff;
    border: none;
    margin: 0;
    outline-color: transparent;
    z-index: 200;
    text-transform: uppercase;
    font: 30px 'copperplate_light', 'Times New Roman', serif;
    @include css3(transition, 800ms);
  }

  .intro {
    width: 100%;
    height: 100%;
    @include css3(transition, 1s);
    background-image: url('../img/background-map-dark-1.png');
    position: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 500;
    top: 0;
    left: 0;
    @include css3(transition-delay, 1500ms);
    @include css3(transition, 600ms);

    .wrapper {
      height: 100%;
    }

    a {
      pointer-events: none;
    }

    svg {
      height: 40%;
      position: absolute;
      @include css3(transition, 1s);
      max-height: 3500px;
      @include css3(transform, translate(-50%,-50%));
      left: 50%;
      fill-opacity: 0.4;
      width: 80%;
      top: 50%;
    }

    #logo-icon { 
      stroke: #fff;
      stroke-width: 2px;
      fill: #fff;
      fill-opacity: 0.7;

    }

    #full-title { 
      fill: #ffffff;
      fill-opacity: 1;
    }

    #full-title > * {
      opacity: 0;
      @include css3(transform, translateY(-100%));
      // transform: translate3d(0, -100%, 0);
    }

    #logo-icon > * {
      opacity: 0;
    }

    &.animate {


      #logo_c {
        animation: fadeIn 2000ms 0.8s ease-out forwards;
      }

      #logo_i {
        animation: fadeIn 2000ms 1.5s ease-out forwards;
      }

      #logo-icon > #logo_globe {
        animation: fadeIn 2000ms 2s ease-out forwards;
      }

      #logo_s {
        animation: fadeIn 2000ms 2.5s ease-out forwards;
      }

      #word1, #comprehensive {
        animation: fadeInDown 1200ms 2.5s ease-out forwards;
      }

      #word2, #immigration {
        animation: fadeInDown 1000ms 3s ease-out forwards;
      }

      #word3, #solutions {
        animation: fadeInDown 800ms 3.5s ease-out forwards;
      }
    }
    

  }

  .animated {
    animation-duration: 1s;
    animation-fill-mode: both;
  }
  









  .site-header.reveal {
    left: 0;
    opacity: 1;
    z-index: 600;
  }

  .site-header.small .intro-logo {
    @include css3(transform, none);
      top: 20px;
      left: 20px;
  }

  .site-header.small .enter {
    color: transparent;
    pointer-events: none;
    height: 0;
    margin: 0;
    padding: 0;
  }
  .site-header.small .intro a {
    pointer-events: auto;
  }

  .background-img.small > *:last-child {
    opacity: 0;
    @include css3(transition-delay, 1200ms);
  }

  .intro.remove {
    top: 100%;
    height: 0;
    opacity: 0;
  }
} 

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-ms-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

// @keyframes filling {
//   to {
//     opacity: 1;
//   }
// }


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    @include css3(transform, translateY(-100%));
  }

  to {
    opacity: 1;
    @include css3(transform, none);
  }
}

@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    @include css3(transform, translateY(-100%));
  }

  to {
    opacity: 1;
    @include css3(transform, none);
  }
}

@-ms-keyframes fadeInDown {
  from {
    opacity: 0;
    @include css3(transform, translateY(-100%));
  }

  to {
    opacity: 1;
    @include css3(transform, none);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    @include css3(transform, translateY(-100%));
  }

  to {
    opacity: 1;
    @include css3(transform, none);
  }
}

@media screen and (max-width: 1024px) {
  .site-footer .favorites .block {
    width: 100%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width:1024px) and (-webkit-min-device-pixel-ratio:1),(max-width:768px) {
  .block-1-wide {
    width: 50%;
    max-width: none;
    min-height: 100px;
  }
  .block-3-wide {
    width: 100%;
    max-width: none;
  }

  .page-content,
  .sidebar {
    width: 100%;
    float: none;
  }

  .sidebar {
    margin: 30px 0 0;

    .sidebar-mod:last-child {
      padding: 40px 0;
    }

    .sidebar-mod:last-child > * {
      position: absolute;
      right: 20px;
      top: 50%;
      @include css3(transform, translateY(-50%));
    }

    .sidebar-mod:last-child > *:first-child {
      right: initial;
      left: 20px;
    }

  }

  .menu-btn {
    display: block;
  }

  .site-header {

    .site-nav {
      position: fixed;
      bottom: initial;
      top: 0;
      z-index: 10;
      background: #333;
      height: 100%;
      width: 100%;
      padding: 20px 40px 0 50px;
      // box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.67);
      @include css3(transform, translateX(100%));

      ul {

        margin: 90px 0;
        text-align: right;
        width: 100%;

        li {
          float: none;
          border: 1px solid #fff;
          border-style: none none solid;
          width: 100%;

          &:first-child {
            margin: 0 0 0 20px;
          }

          &:hover {
            padding-right: 20px;
          }

          a {
            width: 100%;
          }
        }
      }
    }

    &.active{

      .site-nav {
        box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.67);
        @include css3(transform, translateX(0%));
      }

    }
  }

  .site-footer .block {
    font-size: 10px;
    line-height: 12px;
    width: 40%;
  }

  .footer-logo-wrapper {
    max-width: 40px;
  }
}

@media screen and (max-width: 650px) {
  .block-1-wide,
  .block-2-wide,
  .block-3-wide,
  .block-4-wide {
    width: 100%;
    max-width: none;
  }

  .sidebar {
    .sidebar-mod {
      &:last-child {
        & > *:first-child {
        font-size: 16px;
        width: 70%;
        }
      }
    }
  }


}

@media screen and (max-width: 500px) {

}
