$wrapper-width: 960px;
$font-size: 18px;
$line-height: $font-size * 1.6;
$h1-size: $font-size * 2; // all other fonts are related to $font-size.

// Text Color
$font-color: #333;

// Form Background Color
$body-bg-color: #fff;

//Colors
$site-green: #badbad;
$site-gray: #333;
$site-red: #ee3838;
$site-trans-gray: rgba(51,51,51,0.8);
$btn-no: #ee3838;

//The Link Style
$link-color: #fff;
$link-hover-color: $site-green;

//Breakpoint sizes
$breakpoint-phone: 420px;
$breakpoint-phone-to-tablet: 768px;
$breakpoint-tablet-to-desktop: 1240px;
$breakpoint-desktop-to-extralarge: 1479px;