html, body {
	height: 100%;
}

body {
	font: 16px 'muli', arial, sans-serif;
  /*color: #3f3c38;*/
  color: #607d8b;
	background: #464646;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.wrapper {
  width: 97.23%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: 100;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

a:focus, button:focus, .focus {
  outline: transparent solid 1px;
}

img {
  width: 100%;
  height: auto;
}


.legal{
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  max-width: 200px;
  font-family: 'DISCO', arial;
  clear: both;
  padding: 20px 0 0;
}

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0;
}

#svg-defs, .cache {
  max-height: 0;
  opacity: 0;
}

#skip a { 
  position:absolute; 
  left:-10000px; 
  top:auto; 
  width:1px; 
  height:1px; 
  overflow:hidden;
} 
 
#skip a:focus { 
  position:static; 
  width:auto; 
  height:auto; 
}

svg {
  height: 100%;
  position: absolute;
  transition: 1s;
  max-height: 3500px;
  transform: translateX(-50%);
  left: 50%;
  fill-opacity: 0.4;
}

.background-img {
  width: 100%;
  height: 100%;
  background-image: url('../img/background-map-dark-1.png');
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro .title {
  position: fixed;
  /*font-size: 40px;*/
  color: #fff;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.intro .title * {
  opacity: 0;
  font: 30px 'Playfair Display', serif;
  /*left: -40px;*/
  /*position: relative;*/
}

.intro .title .word1 {
  animation: fadeInDown 1200ms .4s ease-out forwards;
}

.intro .title .word2 {
  animation: fadeInDown 1000ms .6s ease-out forwards;
}

.intro .title .word3 {
  animation: fadeInDown 800ms .8s ease-out forwards;
}


/*.intro .title .word1 {
  animation: fadein-title-item 1200ms .4s ease-out forwards;
}

.intro .title .word2 {
  animation: fadein-title-item 1000ms .6s ease-out forwards;
}

.intro .title .word3 {
  animation: fadein-title-item 800ms .8s ease-out forwards;
}*/

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@-ms-keyframes fadein-title-item {
  0%   { opacity: 0; left: -40px; }
  100% { opacity: 1; left: 0; } 
}
@-mos-keyframes fadein-title-item {
  0%   { opacity: 0; left: -40px; }
  100% { opacity: 1; left: 0; }  
}
@-webkit-keyframes fadein-title-item {
  0%   { opacity: 0; left: -40px; }
  100% { opacity: 1; left: 0; }   
}
@keyframes fadein-title-item {
  0%   { opacity: 0; left: -40px; }
  100% { opacity: 1; left: 0; }   
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

svg circle {
  fill: #badbad;
  r: 0.5;
  stroke-width: 0;
}

.site-header {
	height: 100%;
    max-height: 3500px;
    position: relative;
    transition: 500ms;
}

.site-header .wrapper {
	height: 100%;
}

.site-header .intro a {
	pointer-events: none;
}

.intro-logo {
    width: initial;
    height: 70%;
    margin: 0 auto;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}

.logo,
 g,
.c,
.i,
.s {
	stroke: #badbad;
	stroke-width: 1px;
  fill: #badbad;

	stroke-dasharray: 9000;
	stroke-dashoffset: 9000;
	webkit-animation: dash 20s linear forwards;
	ms-animation: dash 20s linear forwards;
	animation: dash 20s linear forwards;
}

.letter-fill,
.logo-fill {
	fill: #badbad;
	opacity: 0;
}

.c-fill {
  	animation: filling 1.8s linear forwards;
	-webkit-animation-delay: 1.5s; /* Safari 4.0 - 8.0 */
	animation-delay: 1.5s;
}

.i-fill {
  	animation: filling 1.8s linear forwards;
	-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
	animation-delay: 2s;
}

.s-fill {
  	animation: filling 1.8s linear forwards;
	-webkit-animation-delay:  2.5s; /* Safari 4.0 - 8.0 */
	animation-delay: 2.5s;
}

.logo-fill {
  	/*fill: #badbad;
  	opacity: 0;*/
  	animation: filling 2s linear forwards;
  	-webkit-animation-delay: 2s; /* Safari 4.0 - 8.0 */
	animation-delay: 2s;
}

.enter {
	position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #badbad;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes filling {
  to {
    opacity: 1;
  }
}

.site-header.small {
    max-height: 150px;
}

.site-header.small .intro-logo {
	transform: none;
    top: 20px;
    left: 20px;
}

.site-header.small .enter {
	color: transparent;
	pointer-events: none;
	height: 0;
	margin: 0;
	padding: 0;
}
.site-header.small .intro a {
	pointer-events: auto;
}

.background-imgs.small{
	max-height: 150px;
}