/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

  Fonts

*/
@font-face {
  font-family: "copperplate";
  src: url("../fonts/copperplate_bold.eot");
  src: url("../fonts/copperplate_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/copperplate_bold.ttf") format("truetype"), url("../fonts/copperplate_bold.svg#copperplate") format("svg");
  font-style: "normal";
  font-weight: 800; }
@font-face {
  font-family: "copperplate";
  src: url("../fonts/copperplate_light.eot");
  src: url("../fonts/copperplate_light.eot?#iefix") format("embedded-opentype"), url("../fonts/copperplate_light.ttf") format("truetype"), url("../fonts/copperplate_light.svg#copperplate") format("svg");
  font-style: "normal";
  font-weight: 100; }
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light.svg#raleway") format("svg");
  font-style: "normal";
  font-weight: 100; }
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#raleway") format("svg");
  font-style: "normal";
  font-weight: 400; }
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#raleway") format("svg");
  font-style: "normal";
  font-weight: 800; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'copperplate', 'times new roman', serif; }

strong {
  font-weight: bold; }

p {
  margin: 20px 0;
  line-height: 28px;
  letter-spacing: 0.26px;
  font-size: 18px; }

p:first-child {
  margin-top: 0;
  padding-top: 0; }

/*******************************

  General Styles

*******************************/
body,
html {
  height: 100%;
  padding: 0;
  margin: 0; }

html {
  /* background-image: url(../img/painting-bkgd.png), url(../img/fabric_plaid.png);
  background-position: center center, left top;
  background-repeat: no-repeat, repeat; */ }

body {
  font: 400 16px 'raleway', arial, sans-serif;
  color: #333;
  background: url(../img/bkgd-gray.jpg) no-repeat center -100px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms; }
  body.in-transition {
    -webkit-transition: transform 900ms ease;
    -moz-transition: transform 900ms ease;
    -ms-transition: transform 900ms ease;
    -o-transition: transform 900ms ease;
    transition: transform 900ms ease; }

*,
*:after,
*:before {
  box-sizing: border-box;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms; }

.wrapper {
  width: 97.23%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

.alt-title {
  background: rgba(51, 51, 51, 0.8);
  font: 20px 'raleway', arial, sans-serif;
  color: #fff;
  padding: 10px;
  margin: 0 0 20px; }

a, button {
  outline-color: transparent;
  outline: none; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: 100; }
  a:hover {
    text-decoration: underline; }

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 20px; }
  button:first-child {
    margin: 0; }

img {
  width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px 0; }

.btn-dark {
  background: #333;
  color: #fff; }

.legal {
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  max-width: 200px; }

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0; }

.dont-break-out {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333; }

.map {
  max-width: 500px;
  width: 100%;
  border: 6px solid rgba(51, 51, 51, 0.8); }
  .map img {
    display: block; }

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 720px;
  width: 100%; }

.responsive-embed iframe, .responsive-embed object, .responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*******************************

  Basic 4 Column Grid

*******************************/
.block {
  float: left;
  padding: 0 0 0 20px;
  position: relative; }

.block-1-wide {
  width: 25%;
  max-width: 240px; }

.block-2-wide {
  width: 50%;
  max-width: 480px; }

.block-3-wide {
  width: 75%;
  max-width: 720px; }

.block-4-wide {
  width: 100%;
  max-width: 960px; }

dt {
  font: 20px 'copperplate_light', 'times new roman', serif;
  border: 1px solid #333;
  border-style: none none solid;
  margin: 0 0 5px;
  cursor: pointer; }
  dt .arrow {
    float: right;
    margin: 8px; }

dd {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -ms-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms; }
  dd ul {
    margin: 10px 0; }
    dd ul li {
      margin: 0 0 10px; }

dt.active + dd {
  max-height: 1000px;
  opacity: 1; }

/*******************************

  Header Styles

*******************************/
.site-header {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 80px;
  background: #333;
  -webkit-transition: 600ms;
  -moz-transition: 600ms;
  -ms-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms; }
  .site-header > * {
    -webkit-transition: 600ms;
    -moz-transition: 600ms;
    -ms-transition: 600ms;
    -o-transition: 600ms;
    transition: 600ms; }
  .site-header .wrapper {
    height: 100%; }

.logo-wrapper {
  max-width: 100px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }
  .logo-wrapper a {
    display: inline-block; }

.login {
  background: #badbad;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding: 10px; }
  .login:hover {
    text-decoration: underline; }

.menu-btn {
  width: 40px;
  height: 40px;
  display: none;
  position: absolute;
  right: 40%;
  top: 50%;
  z-index: 100;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.menu-nav-btn__bar {
  width: 100%;
  height: 1px;
  background: #fff;
  margin-top: 5px;
  display: inherit;
  -webkit-transition: 400ms;
  -moz-transition: 400ms;
  -ms-transition: 400ms;
  -o-transition: 400ms;
  transition: 400ms;
  position: absolute;
  pointer-events: none;
  opacity: 1; }

.menu-nav-btn__bar:first-child {
  margin-top: 0; }

.menu-nav-btn__bar:last-child {
  margin-top: 10px; }

.menu-btn.active {
  height: 40px;
  opacity: 1; }

.menu-btn.active .menu-nav-btn__bar {
  -webkit-transform: translateY(3px) rotate(-45deg);
  -moz-transform: translateY(3px) rotate(-45deg);
  -ms-transform: translateY(3px) rotate(-45deg);
  -o-transform: translateY(3px) rotate(-45deg);
  transform: translateY(3px) rotate(-45deg);
  -webkit-transform-origin: center center;
  -moz-transform-origin: center center;
  -ms-transform-origin: center center;
  -o-transform-origin: center center;
  transform-origin: center center;
  margin-top: 0px;
  background: #fff; }

.menu-btn.active .menu-nav-btn__bar:first-child {
  -webkit-transform: translateY(3px) rotate(45deg);
  -moz-transform: translateY(3px) rotate(45deg);
  -ms-transform: translateY(3px) rotate(45deg);
  -o-transform: translateY(3px) rotate(45deg);
  transform: translateY(3px) rotate(45deg); }

/*******************************

  Nav Styles

*******************************/
.site-nav {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0; }

.site-nav ul {
  float: right; }

.site-nav li {
  float: left;
  margin: 0 0 0 20px;
  position: relative;
  padding: 5px 0; }
  .site-nav li a {
    font: 100 16px 'copperplate', 'times new roman', serif; }
  .site-nav li:hover a, .site-nav li.active a {
    color: #badbad;
    text-decoration: none; }

.site-nav li:first-child {
  margin: 0; }

.site-nav li a {
  font-size: 22px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.6px; }

/*******************************

  Mobile Nav Styles

*******************************/
.site-header.mobile .site-nav {
  position: fixed;
  bottom: initial;
  top: 0;
  z-index: 10;
  background: #333;
  height: 100%;
  padding: 20px 40px 0 50px;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }
  .site-header.mobile .site-nav ul {
    margin: 90px; }
    .site-header.mobile .site-nav ul li {
      float: none; }
      .site-header.mobile .site-nav ul li:first-child {
        margin: none; }
.site-header.mobile.active .site-nav {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.67);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
  transform: translateX(0%); }

/*******************************

  Site Content Styles

*******************************/
.site-content {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
  position: relative;
  top: 80px;
  margin: 30px 0;
  padding: 0 0 160px; }

/*******************************

  Page Content Styles

*******************************/
.page-content {
  width: 57.4468%;
  float: left; }

dt.active + dd.news-list .news-content {
  height: 100%;
  max-height: 260px; }

dt.active .arrow {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

/*******************************

  Sidebar Styles

*******************************/
.sidebar {
  width: 31.9149%;
  float: right; }

.sidebar-mod {
  position: relative;
  font-size: 18px;
  margin: 0 0 30px; }
  .sidebar-mod:last-child {
    border: solid 6px rgba(51, 51, 51, 0.8);
    border-style: solid none;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
    text-align: center; }
    .sidebar-mod:last-child p {
      text-align: left;
      font-size: 20px; }
    .sidebar-mod:last-child a {
      display: inline-block;
      border-radius: 50%;
      border: 4px solid;
      height: 40px;
      width: 40px; }
      .sidebar-mod:last-child a:hover {
        background: rgba(51, 51, 51, 0.6); }
      .sidebar-mod:last-child a svg {
        width: 80%;
        position: relative;
        top: 5px;
        left: 0; }
  .sidebar-mod .btn.btn-dark {
    padding: 20px 0;
    width: 100%;
    background: rgba(51, 51, 51, 0.8); }
    .sidebar-mod .btn.btn-dark:hover {
      text-decoration: underline; }
  .sidebar-mod .small-copy {
    font-size: 12px;
    display: block;
    line-height: 14px; }

.news-ticker {
  height: 46px;
  background: #badbad;
  color: #333; }
  .news-ticker ul {
    height: 100%;
    text-align: center;
    line-height: 46px;
    font-size: 16px; }

.news-block .news-date {
  font-size: 12px;
  background: rgba(51, 51, 51, 0.8);
  color: #badbad;
  padding: 10px;
  margin: 5px 0;
  max-width: 110px; }

/*******************************

  Assesment Styles

*******************************/
.quiz-quest {
  font-size: 24px; }

.quiz-opts {
  text-align: right;
  margin: 30px 0 0; }
  .quiz-opts li {
    display: inline-block; }
  .quiz-opts button {
    width: 80px;
    color: #fff;
    padding: 10px 0;
    background: #ccc;
    margin: 0 0 0 20px;
    font: 100 18px 'raleway', arial, sans-serif; }
    .quiz-opts button:hover {
      text-decoration: underline; }
    .quiz-opts button.single-opt, .quiz-opts button.multi-opt {
      background: rgba(51, 51, 51, 0.8); }
    .quiz-opts button.yes-opt {
      background: #badbad; }
    .quiz-opts button.no-opt {
      background: #ee3838; }

/*******************************

  Footer Styles

*******************************/
.site-footer {
  background: #333;
  height: 126px;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  z-index: 2; }
  .site-footer .wrapper {
    height: 100%; }
  .site-footer .block {
    position: absolute;
    top: calc(50% - 23px);
    left: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
    .site-footer .block a:hover {
      color: #badbad; }
  .site-footer .block:first-child {
    padding-left: 0; }
  .site-footer .block:last-child {
    text-align: right;
    left: initial;
    right: 0; }

.footer-logo-wrapper {
  max-width: 60px;
  position: absolute;
  top: calc(50% - 23px);
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

/*******************************

  Override & Responsive Styles

*******************************/
.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  background: #333;
  z-index: 800;
  color: #fff;
  text-align: center;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  top: 0;
  left: 0; }

.collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
  overflow: hidden; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #333;
  width: 8px;
  border-radius: 0; }

.homepage .site-header {
  left: 100%;
  opacity: 0; }
  .homepage .site-header .wrapper {
    height: 100%; }
.homepage .enter {
  position: absolute;
  top: 75%;
  width: 100%;
  text-align: center;
  color: #fff;
  border: none;
  margin: 0;
  outline-color: transparent;
  z-index: 200;
  text-transform: uppercase;
  font: 30px 'copperplate_light', 'Times New Roman', serif;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -ms-transition: 800ms;
  -o-transition: 800ms;
  transition: 800ms; }
.homepage .intro {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  background-image: url("../img/background-map-dark-1.png");
  position: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 500;
  top: 0;
  left: 0;
  -webkit-transition-delay: 1500ms;
  -moz-transition-delay: 1500ms;
  -ms-transition-delay: 1500ms;
  -o-transition-delay: 1500ms;
  transition-delay: 1500ms;
  -webkit-transition: 600ms;
  -moz-transition: 600ms;
  -ms-transition: 600ms;
  -o-transition: 600ms;
  transition: 600ms; }
  .homepage .intro .wrapper {
    height: 100%; }
  .homepage .intro a {
    pointer-events: none; }
  .homepage .intro svg {
    height: 40%;
    position: absolute;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    max-height: 3500px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    fill-opacity: 0.4;
    width: 80%;
    top: 50%; }
  .homepage .intro #logo-icon {
    stroke: #fff;
    stroke-width: 2px;
    fill: #fff;
    fill-opacity: 0.7; }
  .homepage .intro #full-title {
    fill: #ffffff;
    fill-opacity: 1; }
  .homepage .intro #full-title > * {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  .homepage .intro #logo-icon > * {
    opacity: 0; }
  .homepage .intro.animate #logo_c {
    animation: fadeIn 2000ms 0.8s ease-out forwards; }
  .homepage .intro.animate #logo_i {
    animation: fadeIn 2000ms 1.5s ease-out forwards; }
  .homepage .intro.animate #logo-icon > #logo_globe {
    animation: fadeIn 2000ms 2s ease-out forwards; }
  .homepage .intro.animate #logo_s {
    animation: fadeIn 2000ms 2.5s ease-out forwards; }
  .homepage .intro.animate #word1, .homepage .intro.animate #comprehensive {
    animation: fadeInDown 1200ms 2.5s ease-out forwards; }
  .homepage .intro.animate #word2, .homepage .intro.animate #immigration {
    animation: fadeInDown 1000ms 3s ease-out forwards; }
  .homepage .intro.animate #word3, .homepage .intro.animate #solutions {
    animation: fadeInDown 800ms 3.5s ease-out forwards; }
.homepage .animated {
  animation-duration: 1s;
  animation-fill-mode: both; }
.homepage .site-header.reveal {
  left: 0;
  opacity: 1;
  z-index: 600; }
.homepage .site-header.small .intro-logo {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  top: 20px;
  left: 20px; }
.homepage .site-header.small .enter {
  color: transparent;
  pointer-events: none;
  height: 0;
  margin: 0;
  padding: 0; }
.homepage .site-header.small .intro a {
  pointer-events: auto; }
.homepage .background-img.small > *:last-child {
  opacity: 0;
  -webkit-transition-delay: 1200ms;
  -moz-transition-delay: 1200ms;
  -ms-transition-delay: 1200ms;
  -o-transition-delay: 1200ms;
  transition-delay: 1200ms; }
.homepage .intro.remove {
  top: 100%;
  height: 0;
  opacity: 0; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@-ms-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@-moz-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-moz-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@-ms-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%); }
  to {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none; } }
@media screen and (max-width: 1024px) {
  .site-footer .favorites .block {
    width: 100%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1), (max-width: 768px) {
  .block-1-wide {
    width: 50%;
    max-width: none;
    min-height: 100px; }

  .block-3-wide {
    width: 100%;
    max-width: none; }

  .page-content,
  .sidebar {
    width: 100%;
    float: none; }

  .sidebar {
    margin: 30px 0 0; }
    .sidebar .sidebar-mod:last-child {
      padding: 40px 0; }
    .sidebar .sidebar-mod:last-child > * {
      position: absolute;
      right: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%); }
    .sidebar .sidebar-mod:last-child > *:first-child {
      right: initial;
      left: 20px; }

  .menu-btn {
    display: block; }

  .site-header .site-nav {
    position: fixed;
    bottom: initial;
    top: 0;
    z-index: 10;
    background: #333;
    height: 100%;
    width: 100%;
    padding: 20px 40px 0 50px;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%); }
    .site-header .site-nav ul {
      margin: 90px 0;
      text-align: right;
      width: 100%; }
      .site-header .site-nav ul li {
        float: none;
        border: 1px solid #fff;
        border-style: none none solid;
        width: 100%; }
        .site-header .site-nav ul li:first-child {
          margin: 0 0 0 20px; }
        .site-header .site-nav ul li:hover {
          padding-right: 20px; }
        .site-header .site-nav ul li a {
          width: 100%; }
  .site-header.active .site-nav {
    box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.67);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%); }

  .site-footer .block {
    font-size: 10px;
    line-height: 12px;
    width: 40%; }

  .footer-logo-wrapper {
    max-width: 40px; } }
@media screen and (max-width: 650px) {
  .block-1-wide,
  .block-2-wide,
  .block-3-wide,
  .block-4-wide {
    width: 100%;
    max-width: none; }

  .sidebar .sidebar-mod:last-child > *:first-child {
    font-size: 16px;
    width: 70%; } }

/*# sourceMappingURL=style.css.map */
