/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*

  Fonts

*/
@font-face {
  font-family: "copperplate";
  src: url("../fonts/copperplate_bold.eot");
  src: url("../fonts/copperplate_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/copperplate_bold.woff") format("woff"), url("../fonts/copperplate_bold.woff2") format("woff2"), url("../fonts/copperplate_bold.ttf") format("truetype"), url("../fonts/copperplate_bold.svg#copperplate") format("svg");
  font-style: "normal";
  font-weight: 800; }
@font-face {
  font-family: "copperplate";
  src: url("../fonts/copperplate_light.eot");
  src: url("../fonts/copperplate_light.eot?#iefix") format("embedded-opentype"), url("../fonts/copperplate_light.woff") format("woff"), url("../fonts/copperplate_light.woff2") format("woff2"), url("../fonts/copperplate_light.ttf") format("truetype"), url("../fonts/copperplate_light.svg#copperplate") format("svg");
  font-style: "normal";
  font-weight: 100; }
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Light.eot");
  src: url("../fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Light.woff") format("woff"), url("../fonts/Raleway-Light.woff2") format("woff2"), url("../fonts/Raleway-Light.ttf") format("truetype"), url("../fonts/Raleway-Light.svg#raleway") format("svg");
  font-style: "normal";
  font-weight: 100; }
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Regular.eot");
  src: url("../fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.ttf") format("truetype"), url("../fonts/Raleway-Regular.svg#raleway") format("svg");
  font-style: "normal";
  font-weight: 400; }
@font-face {
  font-family: "raleway";
  src: url("../fonts/Raleway-Bold.eot");
  src: url("../fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg#raleway") format("svg");
  font-style: "normal";
  font-weight: 800; }
h1, h2, h3, h4, h5, h6 {
  font-family: 'copperplate', 'times new roman', serif; }

strong {
  font-weight: bold;
  font-size: 22px;
  color: #000; }

p {
  margin: 20px 0;
  line-height: 28px;
  letter-spacing: 0.26px;
  font-size: 18px; }

p:first-child {
  margin-top: 0;
  padding-top: 0; }

/*******************************

  General Styles

*******************************/
body,
html {
  height: 100%;
  padding: 0;
  margin: 0; }

html {
  /* background-image: url(../img/painting-bkgd.png), url(../img/fabric_plaid.png);
  background-position: center center, left top;
  background-repeat: no-repeat, repeat; */ }

body {
  font: 400 16px 'raleway', arial, sans-serif;
  color: #333;
  background: url(../img/bkgd-lt.jpg) no-repeat center -100px;
  -webkit-transition: 500ms;
  -moz-transition: 500ms;
  -ms-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms; }
  body.in-transition {
    -webkit-transition: transform 900ms ease;
    -moz-transition: transform 900ms ease;
    -ms-transition: transform 900ms ease;
    -o-transition: transform 900ms ease;
    transition: transform 900ms ease; }

*,
*:after,
*:before {
  box-sizing: border-box;
  transition: 500ms; }

.wrapper {
  width: 97.23%;
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden; }

a, button {
  outline-color: transparent;
  outline: none; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: 100; }

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
  margin: 0 0 0 20px; }
  button:first-child {
    margin: 0; }

img {
  width: 100%;
  height: auto; }

.btn {
  display: inline-block;
  text-align: center;
  position: relative;
  padding: 5px 0; }

.btn-dark {
  background: #333;
  color: #fff; }

.legal {
  color: #fff;
  font-size: 10px;
  letter-spacing: 1px;
  width: 100%;
  max-width: 200px; }

.hide-copy {
  text-indent: -9999999px;
  display: block;
  height: 0; }

.dont-break-out {
  /* https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #333; }

.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333; }

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 720px;
  width: 100%; }

.responsive-embed iframe, .responsive-embed object, .responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/*******************************

  Basic 4 Column Grid

*******************************/
.block {
  float: left;
  padding: 0 0 0 20px;
  position: relative; }

.block-1-wide {
  width: 25%;
  max-width: 240px; }

.block-2-wide {
  width: 50%;
  max-width: 480px; }

.block-3-wide {
  width: 75%;
  max-width: 720px; }

.block-4-wide {
  width: 100%;
  max-width: 960px; }

dt {
  font: 20px 'copperplate_light', 'times new roman', serif;
  border: 1px solid #333;
  border-style: none none solid;
  margin: 0 0 5px;
  cursor: pointer; }
  dt .arrow {
    float: right;
    margin: 8px; }

dd {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 800ms; }
  dd ul {
    margin: 10px 0; }
    dd ul li {
      margin: 0 0 10px; }

dt.active + dd {
  max-height: 1000px;
  opacity: 1; }

/*******************************

  Header Styles

*******************************/
.site-header {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  height: 80px;
  background: #333;
  transition: 600ms; }
  .site-header > * {
    transition: 600ms; }
  .site-header .wrapper {
    height: 100%; }

.logo-wrapper {
  max-width: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }
  .logo-wrapper a {
    display: inline-block; }

.login {
  background: #badbad;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 400;
  padding: 10px; }
  .login:hover {
    text-decoration: underline; }

.menu-btn {
  width: 40px;
  float: right;
  height: 40px;
  display: none;
  background: rgba(255, 255, 255, 0.1); }

.menu-nav-btn__bar {
  width: 100%;
  height: 1px;
  background: #767676;
  background: -moz-linear-gradient(left, rgba(118, 118, 118, 0) 0%, rgba(118, 118, 118, 0.83) 100%);
  background: -webkit-linear-gradient(left, rgba(118, 118, 118, 0) 0%, rgba(118, 118, 118, 0.83) 100%);
  background: linear-gradient(to right, rgba(118, 118, 118, 0) 0%, rgba(118, 118, 118, 0.83) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00767676', endColorstr='#d4767676',GradientType=1 );
  margin-top: 5px;
  display: inherit;
  -webkit-transition: 400ms;
  transition: 400ms;
  position: absolute;
  pointer-events: none;
  opacity: 1; }

.menu-nav-btn__bar:first-child {
  margin-top: 0; }

.menu-nav-btn__bar:last-child {
  margin-top: 10px; }

.menu-btn.active {
  height: 40px;
  opacity: 1; }

.menu-btn.active .menu-nav-btn__bar {
  transform: translateY(3px) rotate(-45deg);
  transform-origin: center center;
  -webkit-transform-origin: center center;
  margin-top: 0px;
  background: -moz-linear-gradient(left, rgba(118, 118, 118, 0) 0%, rgba(118, 118, 118, 0.83) 50%, rgba(118, 118, 118, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(118, 118, 118, 0) 0%, rgba(118, 118, 118, 0.83) 50%, rgba(118, 118, 118, 0) 100%);
  background: linear-gradient(to right, rgba(118, 118, 118, 0) 0%, rgba(118, 118, 118, 0.83) 50%, rgba(118, 118, 118, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00767676', endColorstr='#00767676',GradientType=1 ); }

.menu-btn.active .menu-nav-btn__bar:first-child {
  transform: translateY(3px) rotate(45deg); }

/*******************************

  Nav Styles

*******************************/
.site-nav {
  float: right;
  position: absolute;
  bottom: 0;
  right: 0; }

.site-nav ul {
  float: right; }

.site-nav li {
  float: left;
  margin: 0 0 0 20px;
  position: relative;
  padding: 5px 0; }
  .site-nav li a {
    font: 100 16px 'copperplate', 'times new roman', serif; }
  .site-nav li:hover a, .site-nav li.active a {
    color: #badbad; }

.site-nav li:first-child {
  margin: 0; }

.site-nav li a {
  font-size: 22px;
  color: #fff;
  display: inline-block;
  letter-spacing: 0.6px; }

/*******************************

  Mobile Nav Styles

*******************************/
.site-header.mobile .site-nav {
  position: fixed;
  bottom: initial;
  top: 0;
  z-index: 10;
  background: #333;
  height: 100%;
  padding: 20px 40px 0 50px;
  transform: translateX(100%); }
  .site-header.mobile .site-nav ul {
    margin: 90px; }
    .site-header.mobile .site-nav ul li {
      float: none; }
      .site-header.mobile .site-nav ul li:first-child {
        margin: none; }
.site-header.mobile.active .site-nav {
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.67);
  transform: translateX(0%); }

/*******************************

  Site Content Styles

*******************************/
.site-content {
  z-index: 1;
  opacity: 1;
  pointer-events: auto;
  position: relative;
  top: 80px;
  margin: 30px 0;
  padding: 0 0 100px; }

/*******************************

  Page Content Styles

*******************************/
.page-content {
  width: 57.4468%;
  float: left; }

/*******************************

  Sidebar Styles

*******************************/
.sidebar {
  width: 31.9149%;
  float: right; }

.sidebar-mod {
  font-size: 18px;
  margin: 0 0 30px; }
  .sidebar-mod:last-child {
    border: solid 6px rgba(0, 0, 0, 0.8);
    border-style: solid none;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px 10px;
    text-align: center; }
    .sidebar-mod:last-child p {
      text-align: left;
      font-size: 20px; }
    .sidebar-mod:last-child a {
      display: inline-block;
      border-radius: 50%;
      border: 4px solid;
      height: 40px;
      width: 40px; }
      .sidebar-mod:last-child a:hover {
        background: #badbad; }
      .sidebar-mod:last-child a svg {
        width: 80%;
        position: relative;
        top: 5px;
        left: 1px; }
  .sidebar-mod .btn.btn-dark {
    padding: 20px 0;
    width: 100%; }
    .sidebar-mod .btn.btn-dark:hover {
      text-decoration: underline; }
  .sidebar-mod .small-copy {
    font-size: 12px;
    display: block;
    line-height: 14px; }

/*******************************

  Homepage Styles

*******************************/
/*******************************

  Footer Styles

*******************************/
.site-footer {
  background: #333;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 16px;
  z-index: 2; }
  .site-footer .wrapper {
    height: 100%; }
  .site-footer .block {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%); }
  .site-footer .block:first-child {
    padding-left: 0; }
  .site-footer .block:last-child {
    text-align: right;
    left: initial;
    right: 0; }

.footer-logo-wrapper {
  max-width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

/*******************************

  Override & Responsive Styles

*******************************/
.collapsed {
  max-height: 0;
  opacity: 0;
  margin: 0;
  overflow: hidden; }

@media screen and (max-width: 1024px) {
  .site-footer .favorites .block {
    width: 100%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1), (max-width: 768px) {
  .block-1-wide {
    width: 50%;
    max-width: none;
    min-height: 100px; }

  .block-3-wide {
    width: 100%;
    max-width: none; }

  .page-content,
  .sidebar {
    width: 100%;
    float: none; }

  .sidebar {
    margin: 30px 0 0; } }
@media screen and (max-width: 650px) {
  .block-1-wide,
  .block-2-wide,
  .block-3-wide,
  .block-4-wide {
    width: 100%;
    max-width: none; } }

/*# sourceMappingURL=style.css.map */
